import React from "react";
import styled from "styled-components";

const StyledTimespan = styled.span`
  color: var(--Schemes-On-Surface, #1D1B20);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.14px;
  word-wrap: break-word;
`;

const StyledPath = styled.div`
  width: 17px;
  height: 17px;
`;

const StyledRectangle = styled.div`
  width: 17px;
  height: 17px;
`;

const StyledPath01 = styled.div`
  width: 17px;
  height: 17px;
`;

const StyledPath02 = styled.div`
  width: 17px;
  height: 14.17px;
  opacity: 0.10;
  background: var(--Schemes-On-Surface, #1D1B20);
`;

const StyledPath03 = styled.div`
  width: 17px;
  height: 17px;
`;

const StyledPath04 = styled.div`
  width: 14.17px;
  height: 14.17px;
  background: var(--Schemes-On-Surface, #1D1B20);
`;

const StyledBase = styled.div`
  width: 8px;
  height: 15px;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0.30;
  background: var(--Schemes-On-Surface, #1D1B20);
`;

const StyledCharge = styled.div`
  width: 8px;
  height: 7px;
  left: 0px;
  top: 8px;
  position: absolute;
  background: var(--Schemes-On-Surface, #1D1B20);
`;

const StyledCameraCutout = styled.div`
  width: 24px;
  height: 24px;
  left: 708px;
  top: 18px;
  position: absolute;
  background: var(--Schemes-On-Surface, #1D1B20);
`;

const StyledHandle = styled.div`
  width: 108px;
  height: 4px;
  left: 666px;
  top: 10px;
  position: absolute;
  background: var(--Schemes-On-Surface, #1D1B20);
  border-radius: 12px;
`;

const StyledEllipse5 = styled.div`
  width: 161.33px;
  height: 178.27px;
  left: 908.67px;
  top: 0px;
  position: absolute;
  opacity: 0.24;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 100px 100px 100px ;
  border-radius: 9999px;
  filter: blur(50px);
`;

const StyledUnduhan1 = styled.div`
  width: 1070px;
  height: 860px;
  left: 370px;
  top: 149px;
  position: absolute;
`;

const StyledRectangle31 = styled.div`
  width: 370px;
  height: 1023px;
  left: 0px;
  top: 1px;
  position: absolute;
  background: black;
`;

const StyledFixitspan = styled.span`
  color: white;
  font-size: 56px;
  font-family: Brigends Expanded;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  word-wrap: break-word;
`;

const StyledMenuspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledBerandaspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledJelajahspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledBuataduanspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledProsesspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledRiwayatspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledUsernamespan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledPengaduanspan = styled.span`
  color: white;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  word-wrap: break-word;
`;

const StyledIcon = styled.div`
  width: 36px;
  height: 40px;
  left: 6px;
  top: 4px;
  position: absolute;
  outline: 4px var(--Icon-Brand-On-Brand, #F5F5F5) solid;
  outline-offset: -2px;
`;

const StyledIcon01 = styled.div`
  width: 36px;
  height: 36px;
  left: 6px;
  top: 6px;
  position: absolute;
  outline: 2.50px var(--Icon-Brand-On-Brand, #F5F5F5) solid;
  outline-offset: -1.25px;
`;

const StyledIcon02 = styled.div`
  width: 40px;
  height: 36px;
  left: 4px;
  top: 6px;
  position: absolute;
  outline: 4px var(--Icon-Neutral-On-Neutral, #F3F3F3) solid;
  outline-offset: -2px;
`;

const StyledIcon03 = styled.div`
  width: 10.50px;
  height: 10.50px;
  left: 3.75px;
  top: 3.75px;
  position: absolute;
  outline: 1.60px var(--Icon-Brand-On-Brand, #F5F5F5) solid;
  outline-offset: -0.80px;
`;

const StyledLine16 = styled.div`
  width: 121px;
  height: 0px;
  left: 77px;
  top: 468px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  outline: 1px white solid;
  outline-offset: -0.50px;
`;

const StyledAreaspan = styled.span`
  color: white;
  font-size: 31px;
  font-family: Graphite DEMO;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.31px;
  word-wrap: break-word;
`;

const StyledRectangle32 = styled.div`
  width: 48px;
  height: 48px;
  left: 400px;
  top: 154px;
  position: absolute;
  background: #D9D9D9;
`;

const StyledButton01span = styled.span`
  color: var(--Text-Brand-On-Brand-Secondary, #1E1E1E);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
`;

const StyledIcon04 = styled.div`
  width: 32px;
  height: 32px;
  left: 8px;
  top: 8px;
  position: absolute;
  outline: 4px var(--Icon-Default-Default, #1E1E1E) solid;
  outline-offset: -2px;
`;

const StyledPilihanlobbylantai2lantai1span01 = styled.span`
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
`;

const StyledPilihanlobbylantai2lantai1span02 = styled.span`
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
`;

const StyledIcon05 = styled.div`
  width: 32px;
  height: 36px;
  left: 8px;
  top: 6px;
  position: absolute;
  outline: 1.60px var(--Icon-Brand-On-Brand, #F5F5F5) solid;
  outline-offset: -0.80px;
`;

const StyledButton02 = styled.button`
  width: 138px;
  height: 76px;
  padding: 12px;
  left: 1298px;
  top: 128px;
  position: absolute;
  background: var(--Background-Neutral-Tertiary, #E3E3E3);
  border-radius: 8px;
  outline: 1px var(--Border-Default-Default, #D9D9D9) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
`;

const StyledButton = styled.button`
  width: 138px;
  padding: 12px;
  left: 1286px;
  top: 87px;
  position: absolute;
  background: var(--Background-Neutral-Secondary-Hover, #B2B2B2);
  overflow: hidden;
  border-radius: 8px;
  outline: 1px var(--Border-Neutral-Secondary, #767676) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
`;

const StyledBattery = styled.div`
  width: 8px;
  height: 15px;
  position: relative;
`;

const StyledBuildingBlocksnavigation = styled.div`
  width: 1440px;
  height: 24px;
  left: 0px;
  top: 999px;
  position: absolute;
`;

const StyledCorak = styled.div`
  width: 1070px;
  height: 775px;
  left: 370px;
  top: 248px;
  position: absolute;
`;

const StyledHome = styled.div`
  width: 48px;
  height: 48px;
  left: 25px;
  top: 251px;
  position: absolute;
  overflow: hidden;
`;

const StyledSearch = styled.div`
  width: 48px;
  height: 48px;
  left: 29px;
  top: 333px;
  position: absolute;
  overflow: hidden;
`;

const StyledMonitor = styled.div`
  width: 48px;
  height: 48px;
  left: 25px;
  top: 415px;
  position: absolute;
  overflow: hidden;
`;

const StyledArrowright = styled.div`
  width: 18px;
  height: 18px;
  left: 270px;
  top: 430px;
  position: absolute;
  overflow: hidden;
`;

const StyledCornerupright = styled.div`
  width: 48px;
  height: 48px;
  left: 402px;
  top: 154px;
  position: absolute;
  overflow: hidden;
`;

const StyledUser = styled.div`
  width: 48px;
  height: 48px;
  left: 31px;
  top: 899px;
  position: absolute;
  overflow: hidden;
`;

const StyledBuildingBlocksstatusbar = styled.div`
  width: 1440px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: space-between;
  align-items: flex-end;
  display: inline-flex;
`;

const StyledDeviceframe = styled.div`
  width: 1440px;
  height: 1023px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #213158 100%);
  overflow: hidden;
  outline: 8px var(--Schemes-Outline-Variant, #CAC4D0) solid;
`;

const StyledDesktop1 = styled.div`
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
  overflow: hidden;
`;

export const Desktop1 = () => {
  return (
    <StyledDesktop1>
      <StyledDeviceframe>
        <StyledBuildingBlocksstatusbar>
          <StyledTime>9:30</StyledTime>
          <StyledPath />
          <StyledRectangle />
          <StyledPath01 />
          <StyledPath02 />
          <StyledPath03 />
          <StyledPath04 />
          <StyledBattery>
            <StyledBase />
            <StyledCharge />
          </StyledBattery>
          <StyledCameraCutout />
        </StyledBuildingBlocksstatusbar>
        <StyledBuildingBlocksnavigation>
          <StyledHandle />
        </StyledBuildingBlocksnavigation>
      </StyledDeviceframe>
      <StyledCorak>
        <StyledEllipse5 />
      </StyledCorak>
      <StyledUnduhan1  src="https://placehold.co/1070x860"/>
      <StyledRectangle31 />
      <StyledFixit>Fixit.</StyledFixit>
      <StyledMENU>MENU</StyledMENU>
      <StyledBeranda>Beranda</StyledBeranda>
      <StyledJelajah>Jelajah</StyledJelajah>
      <StyledBuataduan>Buat aduan</StyledBuataduan>
      <StyledProses>Proses</StyledProses>
      <StyledRiwayat>Riwayat</StyledRiwayat>
      <StyledUserName>User Name</StyledUserName>
      <StyledPengaduan>Pengaduan</StyledPengaduan>
      <StyledHome>
        <StyledIcon />
      </StyledHome>
      <StyledSearch>
        <StyledIcon01 />
      </StyledSearch>
      <StyledMonitor>
        <StyledIcon02 />
      </StyledMonitor>
      <StyledArrowright>
        <StyledIcon03 />
      </StyledArrowright>
      <div></div>
      <StyledArea>Area</StyledArea>
      <StyledRectangle32 />
      <StyledButton>
        <StyledButton01>Lantai 1  ></StyledButton01>
      </StyledButton>
      <StyledButton02 />
      <StyledCornerupright>
        <StyledIcon04 />
      </StyledCornerupright>
      <StyledPilihanLobbyLantai2Lantai1><StyledPilihanlobbylantai2lantai1span01>Pilihan :<br/></StyledPilihanlobbylantai2lantai1span01><StyledPilihanlobbylantai2lantai1span02>Lobby <br/>Lantai 2<br/>Lantai 1</StyledPilihanlobbylantai2lantai1span02></StyledPilihanLobbyLantai2Lantai1>
      <StyledUser>
        <StyledIcon05 />
      </StyledUser>
    </StyledDesktop1>
  );
};