/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;
overflow-x: scroll;

background: #FFFFFF;


/* Device frame */

position: absolute;
width: 1440px;
height: 1023px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, #213158, #213158);
/* M3/sys/light/outline-variant */
border: 8px solid #CAC4D0;


/* .Building Blocks/status-bar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 10px 24px;
gap: 286px;
isolation: isolate;

position: absolute;
height: 52px;
left: 0px;
right: 0px;
top: 0px;



/* Time */

margin: 0 auto;
width: 29px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on, 'ss02' on;

/* M3/sys/light/on-surface */
color: #1D1B20;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* right icons */

margin: 0 auto;
width: 46px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Wifi */

position: absolute;
width: 17px;
height: 17px;
left: 1370px;
top: 25px;



/* Path */

position: absolute;
left: 95.14%;
right: 3.68%;
top: 48.08%;
bottom: 19.23%;



/* Rectangle */

position: absolute;
left: 95.14%;
right: 3.68%;
top: 48.08%;
bottom: 19.23%;



/* Path */

position: absolute;
left: 95.14%;
right: 3.68%;
top: 48.08%;
bottom: 19.23%;



/* Path */

position: absolute;
left: 95.14%;
right: 3.68%;
top: 50.8%;
bottom: 21.96%;

/* M3/sys/light/on-surface */
background: #1D1B20;
opacity: 0.1;


/* Signal */

position: absolute;
width: 17px;
height: 17px;
left: 1386px;
top: 25px;



/* Path */

position: absolute;
left: 96.25%;
right: 2.57%;
top: 48.08%;
bottom: 19.23%;



/* Path */

position: absolute;
left: 96.35%;
right: 2.67%;
top: 50.8%;
bottom: 21.96%;

/* M3/sys/light/on-surface */
background: #1D1B20;


/* Battery */

position: absolute;
width: 8px;
height: 15px;
left: 1408px;
top: 26px;



/* Base */

position: absolute;
width: 8px;
height: 15px;
left: 0px;
top: 0px;

/* M3/sys/light/on-surface */
background: #1D1B20;
opacity: 0.3;


/* Charge */

position: absolute;
width: 8px;
height: 7px;
left: 0px;
top: 8px;

/* M3/sys/light/on-surface */
background: #1D1B20;


/* Camera Cutout */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: 18px;

/* M3/sys/light/on-surface */
background: #1D1B20;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* .Building Blocks/navigation */

position: absolute;
height: 24px;
left: 0px;
right: 0px;
bottom: 0px;



/* handle */

position: absolute;
width: 108px;
height: 4px;
left: calc(50% - 108px/2);
top: calc(50% - 4px/2);

/* M3/sys/light/on-surface */
background: #1D1B20;
border-radius: 12px;


/* corak */

position: absolute;
width: 1070px;
height: 775px;
left: 370px;
top: 248px;



/* Ellipse 2 */

position: absolute;
left: 0%;
right: 73.27%;
top: 56.38%;
bottom: 22.04%;

background: rgba(255, 255, 255, 0.23);
opacity: 0.33;
filter: blur(50px);
transform: matrix(0.72, 0.7, -0.56, 0.83, 0, 0);


/* Ellipse 5 */

position: absolute;
left: 84.92%;
right: 0%;
top: 0%;
bottom: 77%;

background: rgba(255, 255, 255, 0.13);
opacity: 0.24;
filter: blur(50px);


/* unduhan 1 */

position: absolute;
width: 1070px;
height: 860px;
left: 370px;
top: 149px;

background: url(unduhan.png);


/* Rectangle 31 */

position: absolute;
width: 370px;
height: 1023px;
left: 0px;
top: 1px;

background: #000000;


/* Fixit. */

position: absolute;
width: 227px;
height: 20px;
left: calc(50% - 227px/2 - 567.5px);
top: calc(50% - 20px/2 - 408px);

font-family: 'Brigends Expanded';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 20px;
/* identical to box height, or 36% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* MENU */

position: absolute;
width: 74px;
height: 18px;
left: 43px;
top: 183px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Beranda */

position: absolute;
width: 98px;
height: 18px;
left: 111px;
top: 266px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Jelajah */

position: absolute;
width: 86px;
height: 18px;
left: 111px;
top: 348px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Buat aduan */

position: absolute;
width: 135px;
height: 18px;
left: 111px;
top: 473px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Proses */

position: absolute;
width: 83px;
height: 18px;
left: 111px;
top: 520px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Riwayat */

position: absolute;
width: 93px;
height: 18px;
left: 111px;
top: 568px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* User Name */

position: absolute;
width: 132px;
height: 18px;
left: 111px;
top: 919px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Pengaduan */

position: absolute;
width: 142px;
height: 18px;
left: 111px;
top: 430px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 18px;
/* identical to box height, or 69% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Home

Keywords: house, living
*/

position: absolute;
width: 48px;
height: 48px;
left: 25px;
top: 251px;



/* Icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #F5F5F5;


/* Search */

position: absolute;
width: 48px;
height: 48px;
left: 29px;
top: 333px;



/* Icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2.5px solid #F5F5F5;


/* Monitor

Keywords: tv, screen, display
*/

position: absolute;
width: 48px;
height: 48px;
left: 25px;
top: 415px;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

border: 4px solid #F3F3F3;


/* Arrow right */

position: absolute;
width: 18px;
height: 18px;
left: 270px;
top: 430px;



/* Icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.6px solid #F5F5F5;


/* Line 16 */

position: absolute;
width: 121px;
height: 0px;
left: 77px;
top: 468px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Area */

position: absolute;
width: 102px;
height: 16px;
left: calc(50% - 102px/2 - 284px);
top: 82px;

font-family: 'Graphite DEMO';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 18px;
/* or 58% */
display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;



/* Rectangle 32 */

position: absolute;
width: 48px;
height: 48px;
left: 400px;
top: 154px;

background: #D9D9D9;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 138px;
height: 40px;
left: 1286px;
top: 87px;

background: #B2B2B2;
border: 1px solid #767676;
border-radius: 8px;


/* Star

Keywords: bookmark, favorite, like
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 78px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X

Keywords: cancel, close, delete, remove, times, clear
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 138px;
height: 76px;
left: 1298px;
top: 128px;

background: #E3E3E3;
border: 1px solid #D9D9D9;
border-radius: 8px;


/* Star

Keywords: bookmark, favorite, like
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

display: none;
width: 78px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X

Keywords: cancel, close, delete, remove, times, clear
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Corner up-right

Keywords: arrow
*/

position: absolute;
width: 48px;
height: 48px;
left: 402px;
top: 154px;



/* Icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

border: 4px solid #1E1E1E;


/* Pilihan : Lobby Lantai 2 Lantai 1 */

position: absolute;
width: 85px;
height: 64px;
left: 1326px;
top: 132px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* or 16px */

color: #000000;



/* User */

position: absolute;
width: 48px;
height: 48px;
left: 31px;
top: 899px;



/* Icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

border: 1.6px solid #F5F5F5;
