.MAIN-MENU-JELAJAH {
  overflow: hidden;
  border: 1px solid;
  border-color: #2e4f3a;
  width: 100%;
  min-width: 412px;
  min-height: 892px;
  display: flex;
}

.MAIN-MENU-JELAJAH .device-frame {
  margin-top: -3px;
  width: 418px;
  height: 898px;
  margin-left: -3px;
  position: relative;
  border: 3px solid;
  border-color: #2e4f3a;
}

.MAIN-MENU-JELAJAH .div {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 428px;
  height: 908px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 8px solid;
  border-color: #cac4d0;
  background: linear-gradient(180deg, rgba(33, 49, 88, 1) 100%);
}

.MAIN-MENU-JELAJAH .building-blocks {
  display: flex;
  margin-right: 16px;
  flex: 1;
  max-height: 52px;
  position: relative;
  height: 52px;
  width: 412px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 24px;
}

.MAIN-MENU-JELAJAH .time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #1d1b20;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .right-icons {
  position: relative;
  width: 46px;
  height: 17px;
}

.MAIN-MENU-JELAJAH .camera-cutout {
  position: absolute;
  top: 18px;
  left: calc(50.00% - 12px);
  width: 24px;
  height: 24px;
}

.MAIN-MENU-JELAJAH .handle-wrapper {
  margin-right: 16px;
  flex: 1;
  max-height: 24px;
  margin-bottom: 16px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MAIN-MENU-JELAJAH .handle {
  height: 4px;
  width: 108px;
  background-color: #1d1b20;
  border-radius: 12px;
}

.MAIN-MENU-JELAJAH .text-wrapper {
  position: absolute;
  top: 124px;
  left: calc(50.00% - 180px);
  width: 102px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: 0.31px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .group {
  position: absolute;
  top: calc(50.00% - 331px);
  left: calc(50.00% + 76px);
  width: 129px;
  height: 31px;
}

.MAIN-MENU-JELAJAH .rectangle {
  position: absolute;
  top: calc(50.00% - 16px);
  left: calc(50.00% - 64px);
  width: 106px;
  height: 31px;
  border-radius: 35px;
  border: 1px solid;
  border-color: #ffffff;
}

.MAIN-MENU-JELAJAH .text-wrapper-2 {
  position: absolute;
  top: 10px;
  left: calc(50.00% - 52px);
  width: 115px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .chevron-down {
  position: absolute;
  top: 9px;
  left: 78px;
  width: 15px;
  height: 15px;
  aspect-ratio: 1.02;
}

.MAIN-MENU-JELAJAH .icon {
  position: absolute;
  width: 50.00%;
  height: 25.00%;
  top: 28.93%;
  left: 16.57%;
}

.MAIN-MENU-JELAJAH .unduhan {
  position: absolute;
  top: 248px;
  left: 0;
  width: 412px;
  height: 375px;
  aspect-ratio: 1.76;
  object-fit: cover;
}

.MAIN-MENU-JELAJAH .text-wrapper-3 {
  position: absolute;
  top: 69px;
  left: calc(50.00% - 185px);
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Brigends Expanded-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.26px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .group-2 {
  position: absolute;
  top: calc(50.00% - 384px);
  left: calc(50.00% - 209px);
  width: 441px;
  height: 827px;
}

.MAIN-MENU-JELAJAH .img {
  position: absolute;
  top: calc(50.00% + 340px);
  left: calc(50.00% - 220px);
  width: 412px;
  height: 74px;
}

.MAIN-MENU-JELAJAH .text-wrapper-4 {
  position: absolute;
  top: 781px;
  left: calc(50.00% + 58px);
  width: 102px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0.23px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: calc(50.00% + 112px);
  width: 102px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .group-3 {
  position: absolute;
  top: 610px;
  left: calc(50.00% - 198px);
  width: 370px;
  height: 115px;
}

.MAIN-MENU-JELAJAH .rectangle-2 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 185px);
  width: 368px;
  height: 115px;
  background-color: #ffffff;
  border-radius: 19px;
}

.MAIN-MENU-JELAJAH .group-4 {
  position: absolute;
  top: calc(50.00% - 22px);
  left: calc(50.00% - 6px);
  width: 164px;
  height: 44px;
}

.MAIN-MENU-JELAJAH .rectangle-3 {
  position: absolute;
  top: calc(50.00% - 22px);
  left: calc(50.00% - 82px);
  width: 162px;
  height: 44px;
  border-radius: 35px;
  border: 1px solid;
  border-color: #213158;
}

.MAIN-MENU-JELAJAH .text-wrapper-6 {
  position: absolute;
  top: 14px;
  left: calc(50.00% - 67px);
  width: 131px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #213158;
  font-size: 20px;
  letter-spacing: 0.20px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .text-wrapper-7 {
  position: absolute;
  top: calc(50.00% - 8px);
  left: calc(50.00% - 161px);
  width: 117px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #213158;
  font-size: 26px;
  letter-spacing: 0.26px;
  line-height: 28px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .text-wrapper-8 {
  position: absolute;
  top: 782px;
  left: calc(50.00% - 168px);
  width: 102px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0.23px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .group-5 {
  position: absolute;
  top: 16px;
  left: 328px;
  width: 109px;
  height: 18px;
}

.MAIN-MENU-JELAJAH .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 11px;
}

.MAIN-MENU-JELAJAH .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 50px);
  width: 102px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #213158;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 18px;
  white-space: nowrap;
}

.MAIN-MENU-JELAJAH .rectangle-5 {
  position: absolute;
  top: 819px;
  left: 63px;
  width: 52px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 9px;
}

.MAIN-MENU-JELAJAH .line {
  position: absolute;
  top: 288px;
  left: 134px;
  width: 73px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-2 {
  position: absolute;
  top: 290px;
  left: 208px;
  width: 74px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-3 {
  position: absolute;
  top: 312px;
  left: 209px;
  width: 73px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-4 {
  position: absolute;
  top: 335px;
  left: 209px;
  width: 73px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-5 {
  position: absolute;
  top: 356px;
  left: 209px;
  width: 73px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-6 {
  position: absolute;
  top: 373px;
  left: 189px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-7 {
  position: absolute;
  top: 373px;
  left: 168px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-8 {
  position: absolute;
  top: 373px;
  left: 146px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-9 {
  position: absolute;
  top: 373px;
  left: 134px;
  width: 79px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-10 {
  position: absolute;
  top: 286px;
  left: 141px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-11 {
  position: absolute;
  top: 286px;
  left: 164px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-12 {
  position: absolute;
  top: 286px;
  left: 188px;
  width: 88px;
  height: 73px;
}

.MAIN-MENU-JELAJAH .line-13 {
  position: absolute;
  top: 310px;
  left: 133px;
  width: 74px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-14 {
  position: absolute;
  top: 332px;
  left: 132px;
  width: 74px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .line-15 {
  position: absolute;
  top: 355px;
  left: 131px;
  width: 74px;
  height: 88px;
}

.MAIN-MENU-JELAJAH .group-6 {
  position: absolute;
  top: 166px;
  left: 29px;
  width: 57px;
  height: 55px;
}

.MAIN-MENU-JELAJAH .polygon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 47px;
  height: 41px;
  aspect-ratio: 1;
}

.MAIN-MENU-JELAJAH .text-wrapper-10 {
  position: absolute;
  top: 21px;
  left: calc(50.00% - 9px);
  width: 20px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Graphite DEMO-Regular", Helvetica;
  font-weight: 400;
  color: #213158;
  font-size: 22px;
  letter-spacing: 0.22px;
  line-height: 18px;
  white-space: nowrap;
}
